.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60px;
  align-items: center;
}

.menu a {
  text-align: center;
  display: block;
  background-color: black;
  color: rgb(255, 255, 255);

}

body{
    background-color: rgb(66, 70, 72);

  margin: 0;

}
.container{
    color:rgb(255, 255, 255);
    height: 100vh;             
  display: flex;
  flex-direction: column;
  justify-content: center;    
     
text-align: center;

}
 
.container h1 {
  font-size: 4rem;   /* Welcome to */
  margin-top: -50px;
  
}

.container h2 {
  font-size: 6rem;   /* My CC-Lab Portfolio */
  margin: -50px;
}

.links{
     text-align: center;
  display: block;
   
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
  align-items: center;
  margin-top: 100px;
  padding: 60px 0;

}

.links a{
     color:white;
     font-weight: bold;
font-size: 2rem;
background-color: rgb(0, 0, 0);

}

.projects {
  display: flex;
  flex-wrap: wrap;    
  justify-content: center;
  gap: 30px 50px;        
  margin-top: 60px;
}

.projects a{
    color:white;
      font-weight: bold;
font-size: 2rem;
}

.projects a {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 16px 28px;
  background-color: black;
  border-radius: 6px;
  display: inline-block;
}

.o a{
    color:white;
      font-weight: bold;
font-size: 2rem; 
}